@charset "utf-8";

/*
  font style
*/

// noto-sans KR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
// 나눔고딕
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

// 한글은 나눔고딕 & 영어는 Roboto
body {
  font-family: "Noto Sans KR", sans-serif, 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}


